[Unit]
Description=Figu OTC Next.js App
After=network.target

[Service]
Type=simple
User=diego
WorkingDirectory=/home/diego/Documents/figus
ExecStart=/usr/bin/npm run start -- -p 3010
Restart=always
RestartSec=10
Environment=NODE_ENV=production
Environment=PORT=3010
Environment=NEXT_PUBLIC_APP_URL=https://figusotc.diegodella.ar

[Install]
WantedBy=multi-user.target
